<div id="td-sidebar-menu" class="td-sidebar__inner">  
  <form class="td-sidebar__search d-flex align-items-center">
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
    <ul class="td-sidebar-nav__section pr-md-3">
      <li class="td-sidebar-nav__section-title">
        <a  href="{{ '/tabs/' | prepend: site.baseurl | prepend: site.url }}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Tabs</a>
      </li>
      <li class="td-sidebar-nav__section-title">
        <a class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">Exercises</a>
      </li>
      <ul>
        <li id="documentation">
          <ul class="td-sidebar-nav__section pr-md-3">
            {% assign sorted_exercises = site.exercises | sort: "order"%}
            {% for exercise in sorted_exercises %}
            <li class="td-sidebar-nav__section-title">
              <a  href="{{ exercise.url | prepend: site.baseurl | prepend: site.url }}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ exercise.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </ul>
  </nav>
</div>
